<div id="main">
    <div class="main-wrapper">
        <div id="stationSelector">
            <div id="stations" name="stations" x-mojo-element="ListSelector"></div>
            <img id="reloadButton" src="images/reload.png" />
            <div id="timestamp"></div>
        </div>
        <div id="content">
            <div id="scroller" x-mojo-element="Scroller">
                <div x-mojo-element="Spinner" id="progressSpinner"></div>
                <div id="stationInfo" x-mojo-element="List"></div>
            </div>
        </div>
    </div>
</div>
